{% extends 'base_admin_dash.html' %}
{% block home_act %}active{% endblock %}
{% block num_notif %}{{ notif_count }}{% endblock %}
{% block notifs %}
  {% for i in notifications %}
          {% for j in i.get_notifications() %}
            <a class="dropdown-item" href="#">{{ j }}</a>
          {% endfor %}
        {% endfor %}
{% endblock %}
{% block home %}
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-id-card"></i>
                  </div>
                  <p class="card-category">Users</p>
                  <h3 class="card-title">{{ students }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Since launch
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">money</i>
                  </div>
                  <p class="card-category">Revenue</p>
                  <h3 class="card-title">₵ {{ total }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Since Launch
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-bus"></i>
                  </div>
                  <p class="card-category">Buses</p>
                  <h3 class="card-title">{{ bus }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> On the platform
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-dollar"></i>
                  </div>
                  <p class="card-category">Revenue</p>
                  <h3 class="card-title">₵ {{ total_day }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Today - {{ today }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Student Stats</h4>
                  <p class="card-category">New students on {{ today }}</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Programme</th>
                    </thead>
                    <tbody>
                      {% for i in students_today %}
                        <tr>
                          <td>{{ i.public_id }}</td>
                          <td>{{ i.full_name }}</td>
                          <td>{{ i.email }}</td>
                          <td>{{ i.course }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        
{% endblock %}