{% extends 'base_admin_dash.html' %}
{% block user %}active{% endblock %}
{% block num_notif %}{{ notif_count }}{% endblock %}
{% block notifs %}
  {% for i in notifications %}
          {% for j in i.get_notifications() %}
            <a class="dropdown-item" href="#">{{ j }}</a>
          {% endfor %}
        {% endfor %}
{% endblock %}
{% block users %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
 --><link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Students</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="students" class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Registered
                        </th>
                        <th>
                          Balance
                        </th>
                        <th>
                          Number
                        </th>
                        <th>
                          Active
                        </th>
                        {% if has_permission %}
                          <th>
                            Del
                          </th>
                          <th>
                            Activate
                          </th>
                        {% endif %}
                        
                      </thead>
                      <tbody>
                        {% for i in students %}
                          <tr>
                            <td>
                              {{ i.public_id }}
                            </td>
                            <td>
                              {{ i.full_name }}
                            </td>
                            <td>
                              {{ i.email }}
                            </td>
                            <td>
                              {{ i.registered_on }}
                            </td>
                            <td>
                              {{ i.account_bal }}
                            </td>
                            <td>
                              {{ i.momo_number }}
                            </td>
                            <td>
                              {{ i.is_activated }}
                            </td>
                            {% if has_permission %}
                              <td>
                              <button class="btn btn-danger" onclick="{{ (i.full_name|replace(' ', ''))|replace('-', '') }}()">Delete account</button>
                              <script type="text/javascript">
                                function {{ (i.full_name|replace(' ', ''))|replace('-', '') }}() {
                                  swal({
                                    type: "error",
                                    title: "Delete Account",
                                    text:"Are you sure you want to delete this account?",
                                  }).then(function() {
                                    jQuery.ajax({
                                          data : {'bus': []},
                                          type : 'POST',
                                          url : '/del_user/{{ i.public_id }}'
                                      });
                                    window.location.href='/admin_students'
                                  });
                                  // body...
                                }
                              </script>
                            </td>
                            <td>
                              {% if i.is_activated %}
                                <button class="btn btn-success" onclick="{{ (i.full_name|replace(' ', ''))|replace('-', '')+'activate' }}()">Activate account</button>
                                <script type="text/javascript">
                                  function {{ (i.full_name|replace(' ', ''))|replace('-', '')+'activate' }}() {
                                    swal({
                                      type: "success",
                                      title: "Activate Account",
                                      text:"Are you sure you want to activate this account?",
                                    }).then(function() {
                                      jQuery.ajax({
                                            data : {'bus': []},
                                            type : 'POST',
                                            url : '/act_user/{{ i.public_id }}'
                                        });
                                      window.location.href='/admin_students'
                                    });
                                    // body...
                                  }
                                </script>
                              {% else %}
                                <button class="btn btn-danger" onclick="{{ (i.full_name|replace(' ', ''))|replace('-', '')+'activate' }}()">Deactivate account</button>
                                  <script type="text/javascript">
                                    function {{ (i.full_name|replace(' ', ''))|replace('-', '')+'activate' }}() {
                                      swal({
                                        type: "success",
                                        title: "Activate Account",
                                        text:"Are you sure you want to activate this account?",
                                      }).then(function() {
                                        jQuery.ajax({
                                              data : {'bus': []},
                                              type : 'POST',
                                              url : '/deac_user/{{ i.public_id }}'
                                          });
                                        window.location.href='/admin_students'
                                      });
                                      // body...
                                    }
                                  </script>
                              {% endif %}
                            </td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
          <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
          <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
          <script type="text/javascript">
            //document.getElementById("students").DataTable();
            jQuery(document).ready(function($){
              //you can now use $ as your jQuery object.
               $.noConflict();
                var table = $('#students').DataTable();
            });
          </script>
{% endblock %}