{% extends 'base_admin_dash.html' %}
{% block admin %}active{% endblock %}
{% block num_notif %}{{ notif_count }}{% endblock %}
{% block notifs %}
  {% for i in notifications %}
          {% for j in i.get_notifications() %}
            <a class="dropdown-item" href="#">{{ j }}</a>
          {% endfor %}
        {% endfor %}
{% endblock %}
{% block admins %}
<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Admins</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Permissions
                        </th>
                        <th>
                          Date registered
                        </th>
                      </thead>
                      <tbody>
                        {% for i in admins %}
                          <tr>
                            <td>
                              {{ i.admin_id }}
                            </td>
                            <td>
                              {{ i.full_name }}
                            </td>
                            <td>
                              {{ i.email }}
                            </td>
                            {% if i.permission == 1 %}
                              <td>
                                Basic
                              </td>
                            {% else %}
                            <td>
                                Full
                              </td>
                            {% endif %}
                            <td>
                              {{ i.registered_on }}
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" style="margin-top: 10%">
            	<div class="card-header card-header-primary">
                  <h4 class="card-title ">Register an admin</h4>
                </div>
            	<div class="card-body">
            		<form method="post" action="/reg_admin">
					  <div class="form-group row">
					    <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
					    <div class="col-sm-10">
					      <input type="text" name="name" class="form-control" id="inputPassword" placeholder="Name" required="">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
					    <div class="col-sm-10">
					      <input type="email" name="email" class="form-control" id="staticEmail" required="">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Permissions</label>
					    <div class="col-sm-10">
						    <select class="form-control" name="level" id="exampleFormControlSelect1" required="">
						      <option>Basic</option>
						      <option>Full</option>
						    </select>
					   	</div>
					  </div>
					  <center>
					  	<button class="btn btn-success" type="submit">Register</button>
					  </center>
					</form>
            	</div>
            </div>
            </div>

            
          </div>

{% endblock %}