{% extends 'base_admin_dash.html' %}
{% block bus %}active{% endblock %}
{% block num_notif %}{{ notif_count }}{% endblock %}
{% block notifs %}
  {% for i in notifications %}
          {% for j in i.get_notifications() %}
            <a class="dropdown-item" href="#">{{ j }}</a>
          {% endfor %}
        {% endfor %}
{% endblock %}
{% block buses %}

  <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Buses</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Number Plate
                        </th>
                        <th>
                          Seats
                        </th>
                        <th>
                          Date Registered
                        </th>
                        <th>
                          In Service
                        </th>
                        <th>
                        	Action
                        </th>
                      </thead>
                      <tbody>
                        {% for i in buses %}
                          <tr>
                            <td><a href="/bus/{{ i.qr_id }}">{{ i.qr_id }}</a></td>
                            <td>{{ i.number_plate }}</td>
                            <td>{{ i.seats }}</td>
                            <td>{{ i.registered_on }}</td>
                            <td>{{ i.is_active }}</td>
                            {% if i.is_active %}
                              <td><form method="post" action="/dec_bus/{{ i.qr_id }}">
                              <button class="btn btn-danger" type="submit">Decomission</button>
                              </form></td>
                            {% else %}
                              <td><form method="post" action="/rec_bus/{{ i.qr_id }}">
                              <button class="btn btn-success" type="submit">Recomission</button>
                              </form></td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" style="margin-top: 10%">
            	<div class="card-header card-header-primary">
                  <h4 class="card-title ">Register a bus</h4>
                </div>
            	<div class="card-body">
            		<form action="/reg_bus" method="post">
    					  <div class="form-group row">
    					    <label for="inputPassword"  class="col-sm-2 col-form-label">Number Plate</label>
    					    <div class="col-sm-10">
    					      <input type="text" name="plate" class="form-control" id="inputPassword" placeholder="Plate">
    					    </div>
    					  </div>
    					  <div class="form-group row">
    					    <label for="staticEmail" class="col-sm-2 col-form-label">Seats</label>
    					    <div class="col-sm-10">
    					      <input type="text" name="seats" class="form-control" id="staticEmail">
    					    </div>
    					  </div>
    					  <center>
    					  	<button class="btn btn-success" type="submit">Register</button>
    					  </center>
					     </form>
            	</div>
            </div>
            </div>

            
          </div>


{% endblock %}

