<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Campus Ride wallet</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <!-- Main Css  -->
    <link href="{{ url_for('static', filename='css/campusride.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='demo/demo.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/cssanimation.min.css') }}" rel="stylesheet" />
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <style>
        * {
            font-family: 'Rubik', sans-serif;
        }
        
        body {
            font-family: 'Rubik', sans-serif;
            letter-spacing: 2px;
        }
        
        #panel {
            background-image: -moz-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
            background-image: -webkit-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
            background-image: -ms-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
            background-image: linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
        }
        
        .tbl {
            height: 428px;
            overflow-y: scroll;
        }
        
        .tb2 {
            height: 328px;
            overflow-y: scroll;
        }
        
        .active-pro:hover {
            color: aliceblue;
        }
    </style>
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e60b1c68d24fc226585e42d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="blue">

            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    CR
                </a>
                <a href="#" class="simple-text logo-normal">
                    Campus Ride
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="{% block dashboard_active %}{% endblock %}">
                        <a href="/home">
                            <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                    <li class="{% block wallet_active %}{% endblock %}">
                        <a href="/wallet">
                            <i class="fas fa-wallet"></i>
                            <p>Wallet</p>
                        </a>
                    </li>
                    <li class="{% block pay_active %}{% endblock %}">
                        <a href="/pay">
                            <i class="fas fa-qrcode"></i>
                            <p>Pay</p>
                        </a>
                    </li>
                    <li class="{% block notifications_active %}{% endblock %}">
                        <a href="/notifications">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li class="{% block profile_active %}{% endblock %}">
                        <a href="/profile">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>User Profile</p>
                        </a>
                    </li>

                    <li class="active-pro mt-4 mt-lg-5" id="logout">
                        <a href="/logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <p>Sign out</p>


                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav">


                            <li class="nav-item">
                                <a class="nav-link" href="/profile">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Profile</span>
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pay">
                                    <i class="fas fa-qrcode" style="font-size: 18px;"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block ml-2" style="font-size: 11px;">Pay</span>
                                    </p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            <!-- Page Content here -->

            {% block home %}{% endblock %}
            {% block profile %}{% endblock %}
            {% block pay %}{% endblock %}
            {% block notifications %}{% endblock %}
            {% block wallet %}{% endblock %}


            <!-- Page content ends -->

            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    Campus Ride
                                </a>
                            </li>
                            <li>
                                <a href="mailto:support@campus-ride.com">
                                    Email Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Developed

                        <a href="#" target="_blank">AFROHEADS</a>.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/1911436ffb.js" crossorigin="anonymous"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js') }}"></script>
    <!-- Main JS file-->
    <script src="{{ url_for('static', filename='js/campusride.js') }}"></script>

    <script src="{{ url_for('static', filename='demo/demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/letteranimation.min.js') }}"></script>
    <script>
        $(function() {
            $('.wrapper').swipe({
                swipeRight: function(event, direction, distance, fingerCount, fingerCount) {
                    $('.sidebar').addClass(".navbar-translate")
                }
            })
        })
    </script>

</body>


</html>