{% extends 'base_user_dash.html' %}

{% block dashboard_active %}
    active
{% endblock %}

{% block home %}
<style>
    * {
        font-family: 'Rubik', sans-serif;
    }
    
    body {
        font-family: 'Rubik', sans-serif;
        letter-spacing: 2px;
    }
    
    #panel {
        background-image: -moz-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
        background-image: -webkit-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
        background-image: -ms-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
        background-image: linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
    }
    
    .tbl {
        height: 428px;
        overflow-y: scroll;
    }
    
    .tb2 {
        height: 328px;
        overflow-y: scroll;
    }
    
    .active-pro:hover {
        color: aliceblue;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<div class="panel-header panel-header-lg" id="panel">
    <div class="header text-center">

        <h2 class="title cssanimation blurInLeft" style="margin-top: 5rem">Welcome, {{ first_name }}</h2>

    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-tasks cssanimation fadeInBottom">
                <div class="card-header ">

                    <h4 class="card-title text-center">Account Preview</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 text-center">Account Balance
                            {% if bal <= 0 %}
                            <h1 class="py-5" style="font-size: 60px;color: red" >GH₵ {{ bal }}</h1>
                            {% else %}
                            <h1 class="py-5" style="font-size: 60px;" >GH₵ {{ bal }}</h1>
                            {% endif %}
                        </div>

                        <div class=" col-12 col-md-6 text-center ">Account History
                            <div class="table-responsive  justify-content-Center  tb2 pt-3">
                                <table class="account table ">
                                    <thead class=" thead" style="color: #2CA8FF;">
                                        <th class="text-center">
                                            Date
                                        </th>
                                        <th class="text-center">
                                            TXN
                                        </th>
                                        <th class="text-center">
                                            Amount
                                        </th>

                                    </thead>
                                    <tbody class="py-5">
                                        {% for i in payment_history %}
                                            <tr class="py-5">
                                                <td class="text-center">

                                                    {{ payment_history[i][1] }}
                                                </td>
                                                <td class="text-center">
                                                    {{ payment_history[i][0] }}
                                                </td>
                                                <td class="text-center">
                                                    {{ payment_history[i][2]|float }}
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card cssanimation fadeInRight">
                <div class="card-header">

                    <h4 class="card-title text-center"> Rides</h4>
                </div>
                <div class="card-body">

                    <div class="table-responsive  justify-content-Center  tbl">
                        <table class="table">
                            <thead class=" thead" style="color: #2CA8FF;">
                                <th class="text-center">
                                    Date
                                </th>
                                <th class="text-center">
                                    Bus
                                </th>
                            </thead>
                            <tbody>
                                {% for i in ride_history %}
                                    <tr class="py-5">
                                        <td class="text-center">
                                            {{ ride_history[i][1] }}
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-outline-primary" onclick="{{ ride_history[i][2]|replace('-', '') }}()">{{ ride_history[i][0] }}</button>
                                        </td>
                                        <script type="text/javascript">
                                            function {{ ride_history[i][2]|replace('-', '') }}() {
                                                // body...
                                                swal({
                                                  title: 'Receipt',
                                                  text: 'Date {{ ride_history[i][1] }}\n\nBus {{ ride_history[i][3] }}\n\nAmount GH₵ 1.00',
                                                  imageUrl: "https://api.qrserver.com/v1/create-qr-code/?data={{ ride_history[i][0] }}&size=500x500",
                                                  imageWidth: 400,
                                                  imageHeight: 400,
                                                  imageAlt: 'Custom image',
                                                });
                                            }
                                        </script>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js') }}"></script>
<script>
        const covidTips =[
            'Don’t touch your eyes, nose or mouth.',
            'Stay home if you feel unwell.',
            'Clean your hands often. Use soap and water, or an alcohol-based hand rub.',
            'Maintain a safe distance from anyone who is coughing or sneezing.',
            'Wear your nose mask regularly',
            'If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.',
            'Please leave spaces in-between in the shuttle',
            'Avoid using paper money to pay for the shuttle, scan instead!',

        ]
        let randomTip = Math.floor(Math.random()*covidTips.length);
        
        const tips = covidTips[randomTip];
        $.notify({
                
                message: '<strong>Covid-19 Tips:</strong> ' + tips
            }, {
                // settings
                type: 'info',
                allow_dismiss:true,
                mouse_over: 'pause',
               
            });
</script>
    
{% endblock %}