{% extends 'base_user_dash.html' %}

{% block pay_active %}
    active
{% endblock %}

{% block pay %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'Rubik', sans-serif;
        }
        
        body {
            font-family: 'Rubik', sans-serif;
            letter-spacing: 2px;
        }
        
        #panel {
            background-image: -moz-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
            background-image: -webkit-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
            background-image: -ms-linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
            background-image: linear-gradient( 122deg, #1F7BBC 30%, #2CA8FF 100%);
        }
        
        .swipe {
            transform: translateX(250px);
        }
        
        .swipe-area {
            position: absolute;
            width: 50px;
            left: 0;
            top: 0;
            height: 100%;
            background: #f3f3f3;
            z-index: 0;
        }
        
        .button {
            display: block;
            border-radius: 10px;
            margin-top: 40px;
            margin-right: 54%;
            margin-left: 46%;
            font-size: 1.1rem;
            cursor: pointer;
            position: relative;
            padding: 7px 7px;
            outline: none;
            border: none;
            letter-spacing: 2px;
            background-color: #2CA8FF;
            font-family: 'Rubik', sans-serif;
            color: #fff;
            transition: .5s;
            text-transform: uppercase;
        }
        
        .button:hover {
            top: 2px;
            background-position: right;
        }
        
        @media screen and (max-width: 900px) {
            .button {
                margin-right: 60%;
                margin-left: 40%;
            }
        }
    </style>

            <div class="panel-header panel-header-lg" id="panel">
                <div class="header text-center">
                    <h2 class="title cssanimation blurInLeft" style="margin-top: 5rem">Make Payment</h2>

                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-12 col-md-8">
                        <div class="card cssanimation fadeInBottom" style="height: 800px; margin: auto;">
                            <div class="card-body">
                                <div class="places-buttons">
                                    <div class="row">
                                        <div class="col-md-6 ml-auto mr-auto text-center">
                                            <h4 class="card-title ">
                                                Scan to Pay

                                            </h4>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12 col-md-12">
                                            <div id="div-video-container">

                                            </div>

                                            <button id="btn-show-scanner" class="button">Scan</button>



                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>



                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


            <script src="https://unpkg.com/dynamsoft-javascript-barcode@7.3.0-v2/dist/dbr.js" data-productKeys="t0068NQAAALeOt7tCNQDb0VohyHCIeuVhrnEXjppyoyqJg+LX9k3xsxt2l3G5S/p4i1pfWmj5vgKwMxBjFgvFG/X4fXy2FAs="></script>
            <script>
                let scanner = null;
                document.getElementById('btn-show-scanner').addEventListener('click', async() => {

                    document.querySelector("#div-video-container").innerHTML = '<video class="dbrScanner-video" playsinline="true" style=" height: 500px; width: 100%; margin-left: 0; margin-right:0; "></video>'
                    try {
                        scanner = scanner || await Dynamsoft.BarcodeScanner.createInstance();
                        await scanner.setUIElement(document.getElementById('div-video-container'));
                        scanner.onFrameRead = results => {

                            if (results.length) {
                                console.log(results);
                            }
                        };
                        scanner.onUnduplicatedRead = (txt, result) => {
                            console.log(result.barcodeFormatString + ': ' + txt);

                            const swalObj = {
                                icon: "info",
                                title: 'Authentication Needed',
                                text: "Enter Your Pin to Continue",
                                inputPlaceholder: 'Campus Ride Pin',
                                input: 'password',
                                inputAttributes: {
                                    maxlength: 4,
                                    autocapitalize: 'off',
                                    autocorrect: 'off'
                                },

                                showCancelButton: true,
                                inputValidator: (value) => {
                                    if (!value) {
                                        return 'Your pin cant be empty. Try Again!'
                                    }
                                    if (value != password) {
                                        return 'Pin is Incorrect'
                                    }
                                    if (value == password) {
                                        Swal.fire({
                                            icon: "success",
                                            title: "Thank You",
                                            text: "Your Payment Is Successful",
                                            html: '<a style = "color:#195F90;" href = "#" >View Receipt<a>'

                                        })
                                    }

                                }
                            }
                            let password = "0554";
                            Swal.fire(swalObj)


                        };

                        await scanner.show();
                    } catch (ex) {
                        // alert(ex.message);
                        swal({
                            // title: "Success",
                            text: ex.message,
                            icon: "Warning",
                        });
                        throw ex;
                    }

                    // let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
                    //   scanner.addListener('scan', function (content) {
                    //     console.log(content);
                    //   });
                    //   Instascan.Camera.getCameras().then(function (cameras) {
                    //     if (cameras.length > 0) {
                    //       scanner.start(cameras[0]);
                    //     } else {
                    //       console.error('No cameras found.');
                    //     }
                    //   }).catch(function (e) {
                    //     console.error(e);
                    //   });
                });
            </script>
            <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
            <script type="text/javascript" src="http://www.dynamsoft.com/library/dbr/dynamsoft.barcode.min.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/core/jquery.touchSwipe.min.js') }}"></script>
            <script>
                $(function() {
                    $('.wrapper').swipe({
                        swipeRight: function(event, direction, distance, fingerCount, fingerCount) {
                            $('.sidebar').addClass(".navbar-translate")
                        }
                    })
                })
            </script>
            <script>
                $(function() {
                    $('.wrapper').swipe({
                        swipeRight: function(event, direction, distance, fingerCount, fingerCount) {
                            $('.sidebar').addClass(".navbar-translate")
                        }
                    })
                })
            </script>

{% endblock %}